<%= render  :partial  =>  'shared/login_form' %>
<%= render  :partial  =>  'shared/ad_space' %>

<div  id="sub">
  <%  2.times do  |x| %>
    <h2>midashi</h2>
    <p>ここ日本文が入ります。ここ日本文が入ります。ここ日本文が入ります。ここ日本文が入ります。</p>
  <%  end %>
</div>

