<%  @side_bar_template_name = 'side_bar'  %>
<div  id="whats new">
<h2>What's new</h2>
<ul>
<% 6.times do  |x| %>
  <li>ここに新規情報を入力</li>
<%  end %>
</ul>
</div>
<div  id="main">
<%  2.times do  |x| %>
  <h2>見出し</h2>
  <p>ここ日本文が入ります。ここ日本文が入ります。ここ日本文が入ります。ここ日本文が入ります。</p>
  <p>ここ日本文が入ります。ここ日本文が入ります。ここ日本文が入ります。ここ日本文が入ります。</p>
<%  end %>
</div>

