<div  id="login_form">
<h2>memba-sennyou be-ji</h2>
<table  border="0">
  <tr>
    <td align="right">user name</td>
    <td><input  type="text" zise="16" /></td>
  </tr>
  <tr>
    <td align="right">password</td>
    <td><input  type="passwowrd"  size="16" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center">
    <input  type="submit" value="Login" /></td>
  </tr>
</table>
</div>

